<footer class="m-tabbar" style=" background: #339ddc;">
    <a href="#" class="tabbar-item ">
            <span class="tabbar-icon">
               <i class="iconfont ">&#xe62a;</i>
            </span>
        <span class="tabbar-txt">首页</span>
    </a>
    <a href="#" class="tabbar-item">
            <span class="tabbar-icon">
              <i
                        class="iconfont ">&#xe61f;</i>
            </span>
        <span class="tabbar-txt">客服</span>
    </a>

    <a href="#" class="tabbar-item">
            <span class="tabbar-icon">
             <i
                        class="iconfont ">&#xe629;</i>
            </span>
        <span class="tabbar-txt">个人中心</span>
    </a>
</footer>
</section>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- 引入YDUI脚本 -->
<script src="__YDUI__/js/ydui.js"></script>

<script src="http://static.ydcss.com/uploads/ydui/ydui.citys.js"></script>
</body>
</html>